<!DOCTYPE html>
<html>
  <head>
    <title>WeatherNY</title>
    <style type="text/css">
      body {
      background-color: lightsteelblue;
      font-family: Georgia;
      text-align: center;
      margin-left: 3cm;
      margin-right: 3cm;
      }
    </style>
  </head>

  <body>
    <h1>Here is today's weather in New York</h1>
    <h2>
      Today's Date: {{date}} <br><br>
      Temperature: <br>
      Minimum: {{minimum}} {{unit}} <br>
      Maximum: {{maximum}} {{unit}} <br><br>
      Day: {{day}} <br><br>
      Night: {{night}} <br><br>
      For more information, see <br>
      <a href="{{link}}">THE REAL DEAL!</a>
      </h2>
   </body>
  
  
